/* This stylesheet is used to colour the boxes in a more themed colour scheme*/

header{
  background-color: #9EDEEF;
}

main{
  background-color: #AFEDFF;
}

#leftColumn{
  background-color: #3EBDE0;
}

#rightColumn{
  background-color: #3EBDE0;
}

footer{
  background-color: #2A859E;
}

#leftFooter{
  background-color: #AFEDFF;
}

#RightFooter{
  background-color: #AFEDFF;
}

nav ul{
    background-color: #2A859E;
}



/***** THIS IS A CLASS TO MAKE ALL ATTACHED BOXES Nuemorphic (if I add the class)******

.Nuemorphism{
  padding: 25px;
  border-radius: 50px;
  background: #DEC0F1;
  box-shadow:  5px 5px 15px #bfa5cf, -5px -5px 15px #fddbff;
}
*/
