/* Includes the padding in the dimensions of the boxes*/
* {
  box-sizing: border-box;
}

body{
  max-width: 2000px;
  min-height: 1020px;
  font-family: sans-serif;
  margin: 0 auto;

}

.container{
  position: relative;
  text-align: center;
  color: azure;
}

.centered{
  position: absolute;
  top: 50px;
  left: 50%;
}

header{
  background-color: beige;
  height: 200px;
}
nav{
  background-color: lightsalmon;
  padding: 5px;
}

nav h2{
  text-align: center;
}

main{
  background-color: gold;
  min-height: 670px;
}

#leftAside{
  float: left;
  min-height: 670px;
  width: 33%;
  background-color: deepskyblue;
  padding: 2%
}

section{
  float:left;
  width: 67%;
  min-height: 670px;
  background-color: greenyellow;
  padding: 0%;
}

#topFloat{
  background-color: orangered;
  padding: 2%;
}

#Art1{
  background-color: peachpuff;
  width: 50%;
  min-height: 80%;
  float: left;
  padding: 2%;
}

#Art2{
  background-color: hotpink;
  width: 50%;
  min-height: 60%;
  float: left;
  padding: 2%;
}

#bottomRight{
  background-color: saddlebrown;
  float: right;
  min-height: 20%;
  width: 50%;
  padding: 2%;
}

/* THX Google*/
/* Adds a clear above the footer */
main:after {
  content: "";
  display: table;
  clear: both;
}

footer{
  background-color: plum;
  height: 150px;
  text-align: center;
  color: white;
}
