/*Initialisations*/
html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video, a {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent none no-repeat 0 0;
color: #484848;
font-weight: normal;
}
article, aside, figure, footer, header, hgroup, nav, section {
display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help;}
table { border-collapse:collapse; border-spacing:0; font-size:inherit; font:100%;}
input, select { vertical-align:middle; font:99% sans-serif; color: #282828;}
pre, code, kbd, samp { font-family: monospace, sans-serif; }/
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility;}
html { -webkit-font-smoothing: antialiased;}

/*Yo it said this was essential at some point*/
nav height = 28px;


/*FONTS*/
@font-face {
  font-family: 'LeagueGothic';
  src: url("../fonts/League_Gothic-webfont.eot");
  src: url("../fonts/League_Gothic-webfont.eot?#iefix") format("eot"), url("../fonts/League_Gothic-webfont.woff") format("woff"), url("../fonts/League_Gothic-webfont.ttf") format("truetype"), url("../fonts/League_Gothic-webfont.svg#webfontFHzvtkso") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'AcknowledgementMedium';
  src: url("../fonts/Acknowledgement-webfont.eot");
  src: url("../fonts/Acknowledgement-webfont.eot?#iefix") format("eot"), url("../fonts/Acknowledgement-webfont.woff") format("woff"), url("../fonts/Acknowledgement-webfont.ttf") format("truetype"), url("../fonts/Acknowledgement-webfont.svg#webfontuCYqM11k") format("svg");
  font-weight: normal;
  font-style: normal; }

header{
  text-align: center;
}

header h1{
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  position: relative;
  margin: 10px 0 0 0;
  font-weight: normal;
  line-height: .9;
}

header h1 span {
  position: absolute;
  left: 40px;
  top: 40%;
  font-size: 30%;
}
header p {
  line-height: 29px;
  font-size: 12px;
  font-size: 0.75rem;
  margin: 0;
}

header #vol {
    float: left;
  }

header #issue {
  float: right;
}

.tagline {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 2;
}

/*New NAV*/
nav {
  border-top: double 3px #8e8e8e;
  text-align: center;
  border-bottom: solid 1px #8e8e8e;

}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  white-space: nowrap;
  text-align: center;
  width: 10.2em;
}
nav li {
  display: inline-block;
  padding: 0 1em;
}
nav a {
  text-transform: uppercase;
  font-size: 13px;
  font-size: 0.875rem;
  display: block;
  line-height: 27px;
}


/*BODY*/

html {
background: transparent url(../images/bg-main.gif) repeat 0 0;
height: 100%;
}
body {
width: 758px;
margin: 6px auto 0 auto;
border-top: solid 1px #8e8e8e;
background: transparent url(../images/bg-texture.png) no-repeat top center;
height: 100%;
color: #666666;
font-size: 13px;
position: relative;
font-family: Times, "Times New Roman", serif;
}



#main h1 {
  font-size: 22px;
  margin: 10px 0 8px 0;
}


.content {

  column-count: 3;
  column-width: 9em;
  column-gap: 10px;
}


.tertiary .content {

  column-count: 2;
  column-width: 117px;
  column-gap: 10px;
}



.primary {
  width: 50%;
  padding-right: 4px;
  box-sizing: border-box;
}


.secondary {
  width: 17%;
}

.tertiary {
  width: 33%;
  margin-right: 0;
  padding-left: 4px;
  box-sizing: border-box;
}


#primary {
  width: 375px;
  padding-right: 4px;
  float: left;
}
#secondary {
  float: left;
  width: 130px;
}
#tertiary {
  float: left;
  width: 244px;
  margin-right:0;
  padding-left: 4px;
}


/*WHAT EVER THIS IS*/
p {
  margin: 0 0 13px 0;
  text-align: justify;
  line-height: 1em; }

h1 {
  text-shadow: #fff 1px 1px;
  font-family: LeagueGothic, Tahoma, Geneva, sans-serif;
  text-transform: uppercase;
  line-height: 1; }

h2 {
  font-family: LeagueGothic, Tahoma, Geneva, sans-serif;
  padding: 7px 0 0 0;
  margin: 0; }

///////////////////////////////////////////////////////////////////////////////////////////////////
#main > div:last-of-type, /* both selectors target the same element */
#tertiary, aside {
  width: 244px;
  margin-right:0;
  padding-left: 4px;
}

/*ADvertisement 1*/
#ad1 h1 {
  font-family: AcknowledgementMedium;
  letter-spacing: 0.1em;
  font-size: 36px;
  margin: 0 0 0 0;
  text-align: center;
}
#ad1 h1:first-letter {
  letter-spacing: -0.1em;
}
#ad1 p {
  margin: 0;
  font-family: AcknowledgementMedium;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}
aside p + a {
  display: block;
  text-decoration: none;
  border: 5px double;
  color:#ffffff;
  background-color: #484848;
  text-align: center;
  font-size: 28px;
  margin: 5px 5px 9px 5px;
  padding: 15px 0;
  position: relative;
  border-radius: 25px;
  box-shadow: 2px 5px 0 0 rgba(72,72,72,1);
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
  font-family: AcknowledgementMedium, sans-serif;
}

#ad1 a.wanted:hover {
  box-shadow: 4px 10px #484848;
  top: -5px;
  left: -2px;
}

/*ADvertisement 2*/
/*Daisy Dukes, bikinis on top, sunkissed skin so hot it'll melt your popsicle*/
aside > article:nth-of-type(3),
#ad2 {
  min-height: 140px;
  background-image:url(../images/dukes.png);
  background-position: bottom left;
  -webkit-transition: transform 2s linear 250ms;
  -moz-transition: transform 2s linear 250ms;
  -o-transition: transform 2s linear 250ms;
  transition: transform 2s linear 250ms;
}
#ad2 h1 {
  font-size: 20px;
  font-family: AcknowledgementMedium;
  padding: 0 30px 0 75px;
  line-height:1;
  color: #999;
  margin: 0 0 0 15px;
}
#ad2 h1 span {
  font-size: 30px;
  color: #999999;
  display:inline-block;
  -webkit-transition: color 0.2s ease-out, -webkit-transform 0.2s
  ease-out;
  -moz-transition: color 0.2s ease-out, -moz-transform 0.2s ease-out;
  -o-transition: color 0.2s ease-out, -o-transform 0.2s ease-out;
  transition: color 0.2s ease-out, transform 0.2s ease-out;
}
.holding {
  /* Firefox */
  -moz-transition: all 0.3s ease;
  /* WebKit */
  -webkit-transition: all 0.3s ease;
  /* Opera */
  -o-transition: all 0.3s ease;
  /* Standard */
  transition: all 0.3s ease;
}
#ad2 h1:hover span {
  color: #484848;
  -webkit-transform:rotate(10deg) translateX(40px) scale(1.5);
  -moz-transform:rotate(10deg) translateX(40px) scale(1.5);
  -ms-transform:rotate(10deg) translateX(40px) scale(1.5);
  -o-transform:rotate(10deg) translateX(40px) scale(1.5);
  transform:rotate(10deg) translateX(40px) scale(1.5);
}
#ad2 p {
  padding: 5px 3px 0 75px;
  font-size: 0.85em;
}


/*Advertistment 3*/
/*I want to ride my Bycicle, i want to ride my bike*/
#ad3 {
  height: 170px;
  background-image:
  url(../images/bg-bike.png),
  url(../../images/gradient.svg);

  /* W3C gradient syntax for WebKit */
  background-image:
  url(../images/bg-bike.png),
  -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0, rgba(0,0,0,0) 37%, rgba(0,0,0,0) 83%, rgba(0,0,0,0.06) 92%, rgba(0,0,0,0) 98%);

  -webkit-transition: background-position 1s linear 250ms;
  -moz-transition: background-position 1s linear 250ms;
  -o-transition: background-position 1s linear 250ms;
  transition: background-position 1s linear 250ms;
}
#ad3 h1 {
  color: #484848;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px #FFFFFF;
  font-family: LeagueGothic, Arial Narrow, Helvetica, sans-serif;
  font-size: 42px;
  letter-spacing:-1px;
  margin: 20px 5px;
  text-shadow: #fff 1px 1px;
}
#ad3 a {
  text-decoration: none;
}
#ad3:hover {
  background-position: 150% 88%, 0 0;
}


/* FOOTER FOOTER FOOTER */

footer {
  clear: both;
}

footer h1 {
  font-size: 20px;
  font-weight: bold;
}

#authors {
  padding-top: 10px;
  padding-right: 20px;
  background-color: #d1d1d1;
  border: solid 1px #888;
  border-width: 1px 0;
  overflow: hidden;
  display: flex;
}
#authors h1 {
  margin: 0;
}
#authors section {
  padding: 0 0 0 20px;
  box-sizing: border-box;
}
#authors section:nth-of-type(2) {
  order: 2;
}




/*VIDEO CSS*/



#video-container {
  width: 373px;
  margin: 0 auto;
  position: relative;
}
video {
  display: block;
  margin-bottom: 12px;
}
video,.content h1 {
  -webkit-column-span: all;
  -moz-column-span: all;
  column-span: all;
  clear: both;
}
.cnvs {
  position: absolute;
  top: 0; left: 0;
  /* to avoid seeing the video in color for a second before the JavaScript
  runs
  * show a black background instead */
  background-color: black;
  margin-bottom: 25px;
}
.vc {
  width: 373px;
  margin: 0 auto;
  position: relative;
}
.ctrl {
  position: absolute;
  bottom: 0px;
  opacity: .5;
  -webkit-transition: opacity .7s linear;
  transition: opacity .7s linear;
}
.ctrl:hover {
  opacity: 1;
}
.hidden {
  display: none;
}
.pp,.mu {
  width: 25px;
  height: 25px;
	float: left;
  text-indent: -9999em;
  border-right:
  solid 1px #555;
}
.pp:hover, .mu:hover {
  cursor: pointer;
}
.paused {
  background: #ccc url(../images/controls-sprite.png) no-repeat 0 -75px;
}
.playing {
  background-position: 0 -50px;
}
.timer {
  width: 321px; height: 25px;
  background: #ccc;
  float: left;
  text-align: center;
  line-height: 25px;
	overflow: hidden;
}
.mu {
	overflow: hidden;
  border-right: none;
  border-left: solid 1px #555;
}
.unmuted {
  background: #ccc url(../images/controls-sprite.png) no-repeat 0 -25px;
}
.muted {
  background-position: 0 0;
}
