/* This is the main stylesheet*/
/************ BONUS STUFF *************/

/* Includes the padding in the dimensions of the boxes*/
/* Saves me some maths */
/* Astrics means it applies to all */
* {
  box-sizing: border-box;
}

/* Specifies Font to use */
* {
  font-family: sans-serif;
}

.outer{
  max-width: 1020px;
  margin: auto;
}

/* Makes the Header kinda do what I want */
h1{
  margin: auto; /* Important */
  text-align: center;
}

body{
  /* Personally prefer the gradient but the assignment wants an image*/
  /*background-image: linear-gradient(#9EDEEF, #2A859E);*/
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
}

/************* BONUS END ***************/

/********* HEADER **********/

header{
  width: 100%;
  height: 200px;
  display: flex;
}

/* Even when removing the border-box I can't get the title to be centred*/
header img{
  height: 100px;
  width: 100px;
  padding: 2%;
}

/********* NAVIGATION **********/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
  border-right: 1px solid white;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*********** NAVIGATION END ***************/


/*************** MAIN *******************/

main{
  width: 100%;
  margin: 0px auto;
  overflow: auto;
}

#leftColumn{
  margin: 1%;
  width: 28%;
  padding: 14px 16px;
  float: left;
}

section{
  color: black;
}

#rightColumn{
  margin: 1%;
  width: 68%;
  padding: 14px 16px;
  float: right;
}

/************** MAIN END ****************/


/************* FOOTER ****************/

footer{
  /* using clear: both instead of CLEARFLOAT class */
  clear: both;
  min-height: 150px;
  overflow: auto;
}

#leftFooter{
  margin: 1%;
  width: 28%;
  float:left;
  padding: 14px 14px;
}

#RightFooter{
  margin: 1%;
  width: 68%;
  float: right;
  text-align: right;
  padding: 14px 14px;
}

span{
  color: white;
}

/************* FOOTER END ***************/
