/* This style sheet is designed to easily the box borders with a bunch of different and ugly colours*/

header{
  background-color: beige;
}

main{
  background-color: yellow;
}

#leftColumn{
  background-color: aqua;
}

#rightColumn{
  background-color: lightgreen;
}

footer{
  background-color: mediumvioletred;
}

#leftFooter{
  background-color: darkslateblue;
}

#RightFooter{
  background-color: sandybrown;
}


nav ul{
    background-color: black;
}
